.example-body__radio-group-item {
  margin-right: 0.85333rem; }

.example-body__checkbox-group-item {
  margin-right: 0.85333rem; }

.example-input .example-body {
  background-color: white;
  margin-left: -0.85333rem;
  margin-right: -0.85333rem;
  padding: 0.42667rem; }

