.example-body {
  height: 6.4rem; }
  .example-body__scroll-view {
    height: 100%;
    white-space: nowrap; }
    .example-body__scroll-view-item {
      width: 100%;
      display: inline-block;
      height: 100%; }
  .example-body--vertical .example-body__scroll-view-item {
    display: block; }

