.example {
  margin-bottom: 1.28rem; }
  .example-body__list {
    display: -webkit-flex;
    display: flex; }
    .example-body__list-item {
      -webkit-flex: auto;
              flex: auto;
      height: 6.4rem; }
  .example-body__list--vertical {
    width: 4.26667rem;
    -webkit-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-right: auto; }
    .example-body__list--vertical .example-body__list-item {
      -webkit-flex: 1 1 4.26667rem;
              flex: 1 1 4.26667rem; }

