.switch-list {
  position: relative;
  padding: 0 0.32rem;
  background-color: #FFFFFF; }
  .switch-list__item {
    position: relative;
    display: -webkit-flex;
    display: flex;
    padding: 0.21333rem 0; }
    .switch-list__item:not(:first-child)::before {
      content: "";
      position: absolute;
      left: 0.32rem;
      right: -0.32rem;
      top: 0;
      height: 0.02133rem;
      border-top: 0.02133rem solid #e5e5e5;
      color: #e5e5e5; }
  .switch-list__text {
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1;
            flex: 1;
    -webkit-align-items: center;
            align-items: center;
    padding-left: 0.32rem; }

